.footer {
  align-content: stretch;
  margin-top: 100px;
}

.header {
  display: flex;
  justify-content: flex-end;
}

.gmail {
  margin: 6px 10px 0px 0px;
}

.images {
  margin: 6px 10px 0px 0px;
}

.signin {
  margin: 0px 10px 0px 0px;
}
.signin_button {
  background-color: #1a73e8;
  justify-content: center;
  width: 80px;
  height: 35px;
  font-size: 13px;
  font-family: Helvetica, Arial, sans-serif;
  text-decoration: none;
  border: transparent;
  border-radius: 4px;
}

.images:hover {
  text-decoration: underline !important;
}

.gmail:hover {
  text-decoration: underline !important;
}

.box {
  display: flex;
  justify-content: flex-start;
  text-decoration: none;
  text-align: center;
  font-family: arial, sans-serif;
  margin-top: 30px;
  margin-left: 500px;
}
.google_search {
  margin: 0px 10px 0px 0px;
  text-align: center;
  background-color: #f8f9fa;
  border: 1px solid #dadce0;
  border-radius: 10px;
  width: 130px;
  height: 30px;
  border-radius: 10px;
  font-family: arial, sans-serif;
}

.googleimage {
  display: flex;
  justify-content: center;
  margin: 100px 0px 0px 0px;
}

.search {
  display: flex;
  justify-content: center;
  width: 460px;
  height: 40px;
  border: 1px solid thistle;
  background-color: transparent;
  margin: 0px 0px 0px 400px;
  border-radius: 25px;
  font-family: arial, sans-serif;
}
.container {
  justify-content: center;
}

.lang {
  display: flex;
  justify-content: center;
  margin: 10px;
  font-family: arial, sans-serif;
}

.language {
  margin-left: 5px;
  margin-right: 10px;
  color: blue;
  font-family: arial, sans-serif;
}

.language:hover {
  text-decoration: underline !important;
}

.search:hover {
  position: relative;
}

.about {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #dadce0;
  height: 50px;
  font-size: 15px;
  align-items: center;
  font-size: 14px;
  font-family: arial, sans-serif;
  margin-top: 0px;
}

.about_section {
  display: flex;
  justify-content: flex-start;
  background-color: #dadce0;
}

.about_section1 {
  display: flex;
  justify-content: flex-end;
  background-color: #dadce0;
}

.country {
  display: flex;
  height: 50px;
  background-color: #dadce0;
  border-bottom: 1px solid rgba(0,0,0,.20); 
  font-size: 15px;
  align-items: center;
  font-size: 14px;
  font-family: arial, sans-serif;
}

.happy {
  background-color: #f8f9fa;
  border: 1px solid #dadce0;
  border-radius: 10px;
  width: 130px;
  height: 30px;
  font-family: arial, sans-serif;
}
